//Navbar colors
$navbar-bg-color:#393E41;
$navbar-primary-items-color: #393E41;
$navbar-primary-items-color-hover:#FAFAFA;
$navbar-secondary-items-color:#FAFAFA;
$navbar-secondary-items-color-hover:#05AFF2;

//Colors 
$primary-color:#05AFF2;
$secondary-color:#48BED9;
$primary-bg-color:#F0F0F2;
$secondary-bg-color:#E7E5DF;

$success: #28A745;
$warning: #FFC107;
$danger: #DC3545;

//Border variables

$primary-border-color: #393E41;
$secondary-border-color: #E7E5DF;

//Text color
$title-color:#393E41;
$subtitle-color:#E7E5DF;
$text-color: #393E41;
$text-color-hover:#FAFAFA;

//Icon color
$primary-icon-color:#FAFAFA;
$secondary-icon-color:#393E41;
$primary-icon-color-hover:#FAFAFA;
$secondary-icon-color-hover:#393E41;
