@import '../../scss/index.scss';

.navbar{
    background-color: $navbar-bg-color;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
    &__container-logo{
        width: 100%;
        height: 65%;
        .box-logo{
            width: 100%;
            height: 50px;
            text-align: center;
            img{
                height: 100%;
            }
        }
    }

    &__container-menu{
        width: 100%;
        height: 35%;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;

        #chk-profile,
        #chk-menu{
            position: absolute;
            z-index: -999;
            visibility: hidden;
            display: none;
        }

        .container-profile{
            position: absolute;
            top: 0;
            left: -100%;
            z-index: 99;
            width: 100%;
            transition: 0.7s;
            padding:20px 0;
            background-color: $primary-bg-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        .container-menu{
            position: fixed;
            top: 0;
            z-index: 99;
            transition: 0.7s;
            right: -100%;
            width: 60%;
            height: 100vh;
            background-color: $primary-bg-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            label{
                position: absolute;
                top: 30px;
                right: 30px;
            }
        }
        
    }
}

.menu__list{
    width: 100%;
    list-style: none;
    li{
        text-align: center;
        padding: 10px 0;
        a{
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            font-family: $text;
            font-size: $text-phone;
            color: $navbar-primary-items-color;
        }
        &:hover{
            border-bottom: 1px solid $primary-border-color;
        }
    }
}

.icon{
    margin: 10px;
    font-size: $icon-phone;
    color: $primary-icon-color;
    cursor: pointer;
    &.close{
      color:$secondary-icon-color;  
    }
}

#chk-profile:checked ~ .container-profile{
    left: 0;
}

#chk-menu:checked ~ .container-menu{
    right: 0;
}

@media screen and (min-width:$tablet){
    .navbar{
        &__container-menu{
            flex-direction: row-reverse;

            .icon-menu{
                display: none;
            }
            .icon-profile{
                .icon{
                    font-size: $icon-tablet;
                    &:hover{
                        color: $primary-icon-color-hover;   
                    }
                }
            }
            
            .container-profile{
                label{
                    .icon{
                        font-size: $icon-tablet;
                    }
                }
            }

            .container-menu{
                position: initial;
                background-color: transparent;
                width: 70%;
                height: 100%;
                z-index: 1;
                flex-direction: row;
                
                label{
                    display: none;
                }
                .menu{
                    width: 100%;
                    &__list{
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        
                        li{
                            padding: 0 15px;
                            a{
                                text-align: initial;
                                color: $navbar-secondary-items-color;
                                &:hover{
                                    color: $navbar-secondary-items-color-hover;
                                }
                            }
                            &:hover{
                                border-bottom: initial;
                                border-left: 1px solid $secondary-border-color;
                                border-right: 1px solid $secondary-border-color;
                            } 
                        }
                    }   
                
                }
            }
        }
    }
}